<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
</head>

<body>

	<div id="app">
		<div>
			<h4>Add character</h4>
			<form @submit.prevent="addCharacter">
				<input type="text" v-model="newCharacter.name" />
				<button type="submit">Add character</button>
			</form>
		</div>
		<p v-if="characterList.length === 0">No characters</p>

		<div v-else>
			<h2>Characters breakdown</h2>
			<ul>
				<li v-for="(stat, key) in characterBreakdown">
					{{ key }}: {{ stat }}
				</li>
			</ul>


			<p>Characters {{ characterList.length }}</p>
			<ul>
				<li v-for="character in characterList" :key="character.id">
					<p>{{ character.name }} (Favs: {{ character.timesFavorite }}, side: {{ character.side }}) </p>
					<button @click="setFavorite(character.id)">Set favorite</button>
				</li>
			</ul>

			<div v-if="favoriteCharacterList.length > 0">
				<p>Favorite characters {{ favoriteCharacterList.length }}</p>
				<ul>
					<li v-for="character in favoriteCharacterList" :key="character.id">
						{{ character.name }}
					</li>
				</ul>
			</div>
			<p v-else>No favorite characters</p>

		</div>

	</div>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>
		const {createApp} = Vue;
		const app = createApp({
			data: () => ({
				mostFavoriteCharacter: "",
				newCharacter: {
					name: "",
					timesFavorite: 0,
					side: "light",
				},
				characterList: [
					{name: "Luke Skywalker", id: 1, timesFavorite: 0, side: "light"},
					{name: "C-3PO", id: 2, timesFavorite: 0, side: "dark"},
					{name: "R2-D2", id: 3, timesFavorite: 0, side: "light"},
					{name: "Darth Vader", id: 4, timesFavorite: 0, side: "dark"},
					{name: "Leia Organa", id: 5, timesFavorite: 0, side: "light"},
					{name: "Owen Lars", id: 6, timesFavorite: 0, side: "light"},
					{name: "Beru Whitesun lars", id: 7, timesFavorite: 0, side: "light"},
				],
				favoriteCharacterList: [],
			}),
			computed: {
				characterBreakdown() {
					let statistics = {
						light: 0,
						dark: 0,
					};
					this.characterList.forEach((character) => {
						statistics[character.side]++;
					});

					return statistics;
				}

			},
			methods: {
				setFavorite(id) {
					const character = this.characterList.find((character) => character.id === id);
					character.timesFavorite++;
					this.favoriteCharacterList.push(character);
					console.log(this.favoriteCharacterList);
				},
				addCharacter() {
					this.characterList.push({...this.newCharacter, id: this.characterList.length + 1});
					this.newCharacter.name = "";
					this.newCharacter.timesFavorite = 0;
				},
			},
		});
		app.mount("#app");
	</script>
</body>

</html>
